numpy>=1.16.5
pandas>=0.25.3
scikit-learn>=0.22.1
scipy
lightgbm>=2.2.0
fsspec>=0.8.0
pyarrow
ipython
traitlets
featuretools>=0.23.0
XlsxWriter>=3.0.2
psutil
joblib
pyyaml
paramiko
requests
tornado
prettytable