.bar {
  width: 100%;
  height: 40px;
  display: flex;
  border-radius: 20px;
  border: 1px solid transparent;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
}

.legend {
  width: 100%;
  line-height: 40px;
  display: flex;
  text-align: center;
}

.legendItem {
  width: 16.6%;
}

.legendPoint {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  vertical-align: middle;
}

.symbol {
  font-size: 14px;
  margin-left: 15px;
}

.comment {
  font-size: 12px;
  color: #c4c4c4;
  margin-left: 15px;
}
/* Fix jupyter has no scroll, scroll, auto */
.jp-OutputArea-output {
  flex: 1;
  overflow: scroll;
}
